* {
    margin: 0;
    padding: 0;
    text-decoration: none; 
    box-sizing: border-box; 
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: #d22b71;     
 }
 .header h1{
   color: rgb(216, 181, 203); 
   
 }
 

 .nav_container a {
   color: rgb(216, 181, 203);
 }
 .nav_container a:hover {
    color: rgb(24, 2, 44);
 }


.banner img {
    width: 100%; 
}
.section_one{
    margin: 1rem 2rem 1rem 1rem;
    height: 60vh;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1%;
}

.img_container_one {
    padding: .5rem;
 
}
.img_container_one img {
    height: 60%;
    width: 99%;
    
}


.section_two{

    height: 60vh;
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: 50% 50%;
    gap: .5%;
    margin-top: 10rem;
}
.full_row {
    grid-row-start: 1;
    grid-row-end: 3;
}
.img_container_two {
    padding: 1rem;
}

.section_two div img {
    height: 60%;
    width: 99%;
    padding: 1rem;
}

section div h4 {
    color: #2d2c2c;
    padding: 1rem;
   
}
section div p {
    color: #646060;
    padding: 1rem;
    
}
section div a {
    color: #000fb8;
    padding: 1rem;
    margin-left: 70%; 

}
section div a:hover {
    color: #0599ef;
}
.half_row a {
    margin-left: 40%;
}
.half_row small {
    color: #646060;
    padding: 1rem;
}
.half_row h6 {
    color: #2d2c2c;
    padding: 1rem;
}

#what_we_do {
  margin: 0 7rem;
}

#what_we_do h2 {
  text-align: center;
  margin: 3rem;
  
}

#what_we_do h4 {
  color: #787878;
  margin-bottom: .3rem;
  
}
#jobs {
  margin-bottom: 1rem;
  border-bottom: 1px solid #eeeded;
  padding-bottom: .5rem;
  display: flex;
  justify-content: space-between;

}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #2196F3;
  color: dodgerblue;
  border-radius: .5rem;
}


.btn:hover{
  background: #2196F3;
  color: white;

}

#footer-container{
    height: 350px;
    display: flex;
    justify-content: space-around;
    background-image: url(https://1ef83fa4-e245-47ff-9ab0-62cb3e82eba0-00-1amelfzwhn01r.janeway.replit.dev/static/images/bgfooter.png);

}

.footer-info{

    color: white;
    font-family: 'Quicksand', sans-serif;
    margin-top: 5rem;

}


.footer-info a{
    color: white;
    font-weight: lighter;
    text-decoration: none;
}
.footer-info a:hover{
    color: yellow;
    text-decoration: underline;
}
.footer-info p{
    color: white;
    font-weight: lighter;
    text-decoration: none;

}
.phonecall{
    display: flex;
    padding: .3rem;
    margin-top: .3rem;
}




#footer-bottom {
    color: yellow;
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#footer-bottom p{

    font-family: 'Quicksand', sans-serif;
    font-size: 15px;

}
#footer-bottom a{

    font-family: 'Quicksand', sans-serif;
    color: yellow;
    text-decoration: none;
    font-size: 15px;

}
#footer-bottom a:hover{
    color: blue;
}
.socials {
    margin-right: .3rem;
}