<div id="footer-container">
    <div class="footer-info">
        <h2>KNOW US</h2>
        <a href="#">About Us</a><br><br>
        <a href="#">Feedback</a><br><br>
        <a href="#">FAQs</a><br><br>
        <a href="#">News & Events</a>
    </div>    

    <div class="footer-info">
        <h2>POLICIES</h2>
        <a href="#">Terms & Conditions</a><br><br>
        <a href="#">Return Policy</a><br><br>
        <a href="#">Privacy Policy</a><br><br>
        <a href="#">Service and Warranty</a>
    </div> 

    <div class="footer-info">
        <h2>GET IN TOUCH</h2>
        <p>37B Funso Williams, Omole lagos State.</p>

        <div class="phonecall"><img class="socials" src="https://1ef83fa4-e245-47ff-9ab0-62cb3e82eba0-00-1amelfzwhn01r.janeway.replit.dev/static/images/phonecall.png" alt=""><p>+234 8051211213</p></div>

        <div class="phonecall"><img class="socials" src="https://1ef83fa4-e245-47ff-9ab0-62cb3e82eba0-00-1amelfzwhn01r.janeway.replit.dev/static/images//whatsapp.png" alt=""><p>+234 8051211213</p></div>

        <div class="phonecall"><img class="socials" src="https://1ef83fa4-e245-47ff-9ab0-62cb3e82eba0-00-1amelfzwhn01r.janeway.replit.dev/static/images/facebook.png" alt=""><p>@nkiruka</p></div>

        <div class="phonecall"><img class="socials" src="https://1ef83fa4-e245-47ff-9ab0-62cb3e82eba0-00-1amelfzwhn01r.janeway.replit.dev/static/images/twitter.png" alt=""><a href="#">nk@telecomcontractors.org</a></div>

    </div>              

</div>



<div id="footer-bottom">
    <p>Copyright © 2024 telecomcontractors All rights reserved.</p>
    <a href="mailto: nk@telecomcontractors.org">nk@telecomcontractors.org</a>
</div>