<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telecom</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= './css/style.css') }}">
 
  
</head>
<body>
    <header class="header" >
        <h1>Telecom Contractors</h1>
        <nav class="nav_container">
            <a href="" >Home</a>
            <a href="">Gallery</a>
            <a href="">Contact</a>
            <a href="">About</a>  
        </nav>
    </header>
    <div class="banner">
        <img src="./images/Do more.png" alt="">
    </div>
    <section class="section_one">
        <div class="img_container_one">
            <img src="./images/computer networking.JPG" alt="computer networking">
            <h4>Computer Networking</h4>
            <p>Choosing the right cabling solution for your needs can be a daunting task in these times of ever changing technology.
            </p>
           <a href="#">Read more</a>
        </div>
        <div class="img_container_one">
            <img src="./images/computer networking.JPG" alt="computer networking">
            <h4>Computer Networking</h4>
            <p>Choosing the right cabling solution for your needs can be a daunting task in these times of ever changing technology.
            </p>
           <a href="#">Read more</a>
        <div>
    </section>
    
    <section class="section_two">
        <div class="full_row">
            <img src="./images/computer networking.JPG" alt="computer networking">
            <h4>Computer Networking</h4>
            <p>Choosing the right cabling solution for your needs can be a daunting task in these times of ever changing technology.
            </p>
           <a href="#">Read more</a>
        </div>

        <div class="full_row"><img src="./images/computer networking.JPG" alt="computer networking">
                <h4>Fiber Optics Networking</h4>
                <p>We have high performance splicing and testing equipment for multi-mode and single mode fiber to ensure consistent quality of our installations
                </p>
               <a href="#">Read more</a>
        </div>
       
        <div class="half_row" >
            <img src="./images/computer networking.JPG" alt="computer networking">
            <h6>Computer Networking</h6>
            <small>Choosing the right cabling solution for your needs can be a daunting 
            </small>
           <small><a href="#">Read more</a></small>
        </div>

        <div class="half_row" >
            <img src="./images/computer networking.JPG" alt="computer networking">
            <h6>Computer Networking</h6>
            <small>Choosing the right cabling solution for your needs can be a daunting 
            </small>
            <small><a href="#">Read more</a></small>
        </div> 

    </section>
    
    
</body>
</html>